* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(#f0e8ff, #dbffc8, #f9dedd);
}

#box1 {
  border-right: 1px solid black;
}

#box2 {
  overflow: scroll;
}

#headerbox {
  margin: 50px 50px 0px 50px;
}

#subtitle {
  padding-bottom: 50px;
  font-size: 4.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#h1 {
  margin-right: 0;
  padding: 0;
  font-size: 4.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

p span {
  background-color: white;
}

input {
  border: none;
  font-size: 3vw;
  outline: black;
  color: black;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.audioboxes {
  padding-bottom: 50px;
}

audio {
  margin: 15px 0px 0px 0px;
  width: 80%;
}

nav {
  text-align: right;
  margin-right: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 4.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 4.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

.menubutton {
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

#about {
  font-size: 2.5vw;
  margin-left: 15px;
  margin-right: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-justify: auto;
}

#submitform {
  font-size: 2.5vw;
  margin-left: 15px;
  margin-right: 25px;
  padding-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-justify: auto;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 800px) {
  nav br {
    content: " ";
  }

  body {
    margin-left: 15px;
  }

  #subtitle {
    margin-top: 0px;
    padding-bottom: 50px;
  }

  #headerbox {
    margin: 0px;
  }

  #h1 {
    margin: 0px;
    padding-top: 30px;
  }

  input {
    margin: 0px;
    color: black;
  }

  nav {
    text-align: left;
    margin: 0px;
    padding-bottom: 50px;
  }

  #h1,
  #subtitle,
  nav a {
    font-size: 2.5rem;
  }

  input,
  #about {
    font-size: 1.8rem;
  }

  #title {
    padding: 0px;
    margin: 0px;
  }

  audio {
    margin: 0px;
    margin-right: 200px;
    padding: 5px;
  }

  .audioboxes {
    padding: 15px;
  }

  #about {
    padding: 0px;
    margin: 0px;
  }
}
